{{!< default}}
<div class="sdc-site-tiles">
	<div class="sdc-site-tiles__inner">
		<div class="sdc-site-tiles__group">

			<div class="sdc-site-tiles__item sdc-site-tile sdc-site-tile--has-link" data-type="hero-horizontal"
				 data-role="load-more-item">
				<figure class="sdc-site-tile__figure" aria-hidden="true">
					<div class="sdc-site-tile__image-wrap">
						<picture>
							<source srcset="https://e2.365dm.com/18/08/384x216/skysports-arsenal-chelsea-cesar_4377902.jpg?20180801212000 400w, https://e2.365dm.com/18/08/768x432/skysports-arsenal-chelsea-cesar_4377902.jpg?20180801212000 1000w"
									data-srcset="https://e2.365dm.com/18/08/384x216/skysports-arsenal-chelsea-cesar_4377902.jpg?20180801212000 400w, https://e2.365dm.com/18/08/768x432/skysports-arsenal-chelsea-cesar_4377902.jpg?20180801212000 1000w"
									sizes="100vw">

							<img src="https://e2.365dm.com/18/08/768x432/skysports-arsenal-chelsea-cesar_4377902.jpg?20180801212000"
								 alt="Cesar Azpilicueta chased by Mesut Ozil in Chelsea&amp;#39;s friendly with Arsenal"
								 class="sdc-site-tile__image">
						</picture>
					</div>
				</figure>

				<div class="sdc-site-tile__body">
					
					<div class="sdc-site-tile__body-main">
						<h3 class="sdc-site-tile__headline">
                			<span class="sdc-site-tile__headline-link">
              					<span class="sdc-site-tile__headline-text">
									Mohamed Salah
								</span>
                			</span>
						</h3>
					</div>
					
					<ul class="sdc-site-tile__related">
						<li class="sdc-site-tile__related-item">
							<p>Date of birth:
								<span itemprop="birthDate">
									30.06.1992
								</span>
							</p>
						</li>
						<li class="sdc-site-tile__related-item">
							<p>Current club:
								<span>
									Liverpool
								</span>
							</p>
						</li>
						<li class="sdc-site-tile__related-item">
							<p>Position:
								<span>
									Right Winger
								</span>
							</p>
						</li>
						<li class="sdc-site-tile__related-item">
							<p>Age:
								<span>
									28
								</span>
							</p>
						</li>
						<li class="sdc-site-tile__related-item">
							<p>Height:
								<span>
									1,68m 
								</span>
							</p>
						</li>
						<li class="sdc-site-tile__related-item">
							<p>Foot:
								<span>
									Left
								</span>
							</p>
						</li>
						<li class="sdc-site-tile__related-item">
							<p>Player agent:
								<span>
									Mikhail Metreveli
								</span>
							</p>
						</li>
						<li class="sdc-site-tile__related-item">
							<p>Joined:
								<span>
									30.06.2005
								</span>
							</p>
						</li>
						<li class="sdc-site-tile__related-item">
							<p>Contract until:
								<span>
									30.06.2021
								</span>
							</p>
						</li>
						<li class="sdc-site-tile__related-item">
							<p>Market Value:
								<span>
									$100m
								</span>
							</p>
						</li>
					</ul>
				</div>
			</div>


		</div>
	</div>
</div>
