/* BLACKJACK-SDC-LIVE-ON-SKY SKIN */
/* ========= */

$sdc-site-live-on-sky-bg: white!default;
$sdc-site-live-on-sky-color: inherit!default;
$sdc-site-live-on-sky-mobile-bg: white!default;

$sdc-site-live-on-sky-hover-bg: rgba(0,0,0,0.5)!default;
$sdc-site-live-on-sky-hover-color: white!default;
$sdc-site-live-on-sky-hover-transition-time: 0.5s!default;

// breakpoints
$sdc-site-live-on-sky-large-mobile-bp: "all and (max-width: 600px)"!default;
$sdc-site-live-on-sky-mobile-bp: "all and (max-width: 480px)"!default;
