/* SKIN */
/* Default styling paramters for this component that can be overwritten at project level */
/* ========= */

$sdc-site-breaking-news-bg: #ffcc00!default;
$sdc-site-breaking-news-headline-color: inherit!default;

$sdc-site-breaking-news-headline-label-bg: black!default;
$sdc-site-breaking-news-headline-label-color: #ffcc00!default;

$sdc-site-breaking-news-vertical-margin: 1em!default;
