/* TILE */
/* ========= */

.blackjack-sdc-site-tile {
  font-size: 1em;
  // @note - don't use combined background syntax here
  background-color: $sdc-site-tile-background-color;
  background-image: $sdc-site-tile-background-image;
}

// image
.blackjack-sdc-site-tile__figure {
  overflow: hidden;
  position: relative;
  z-index: $sdc-site-tile-link-zindex + 1
}

.blackjack-sdc-site-tile__image-wrap {
  position: relative;
}

.blackjack-sdc-site-tile__image-wrap:after {
  padding-bottom: inherit;
  content: "";
  display: block;
  padding-bottom: 56.25%;
}

.blackjack-sdc-site-tile__image {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform $sdc-site-tile-transition-time;
  will-change: transform;
}

// body
.blackjack-sdc-site-tile__body {
  padding: 25px $sdc-site-tile-indent-l 32px;
  background: inherit;
  word-break: break-word;
}

// tile info
.blackjack-sdc-site-tile__info {
  margin-bottom: 0.2em;
  position: relative;
  cursor: default;
  z-index: $sdc-site-tile-link-zindex + 3;
}

// tag
.blackjack-sdc-site-tile__tag {
  font-weight: normal;
  display: inline-table;
  font-size: 16px;
  color: $sdc-site-tile-tag-color;
  margin: 0 0.6em 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
}

.blackjack-sdc-site-tile__tag-link {
  display: inline-block;
  color: inherit
}

.blackjack-sdc-site-tile__tag:not(.blackjack-sdc-site-tile__tag--haslink),
.blackjack-sdc-site-tile__tag--haslink >
.blackjack-sdc-site-tile__tag-link {
  padding: 0.2em 0;
}

// time
.blackjack-sdc-site-tile__date-time {
  font-size: 15px;
  color: #999;
  padding: 0.2em 0;
  white-space: nowrap;
  overflow: hidden;
}

// headline
.blackjack-sdc-site-tile__headline {
  font-size: 1.35em;
  line-height: 1.15;
  font-weight: normal;
  margin-bottom: 0.25em;
  color: inherit;
}

.blackjack-sdc-site-tile__headline-text {
  z-index: $sdc-site-tile-link-zindex + 1;
  position: relative;
  color: inherit;
  background: inherit;
}

// ensure main tile link covers full panel
.blackjack-sdc-site-tile__headline-link:before,
.blackjack-sdc-site-tile__headline:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: $sdc-site-tile-link-zindex + 2;
}

.blackjack-sdc-site-tile__headline:after {
  opacity: 0;
  transition: opacity $sdc-site-tile-transition-time;
  will-change: opacity;
  background: $sdc-site-tile-hover-background;
  z-index: $sdc-site-tile-link-zindex;
}

// change colors on hover
.blackjack-sdc-site-tile--has-link:hover
.blackjack-sdc-site-tile__body,
.blackjack-sdc-site-tile--has-link:hover
.blackjack-sdc-site-tile__tag,
.blackjack-sdc-site-tile--has-link:hover
.blackjack-sdc-site-tile__related {
  color: $sdc-site-tile-hover-color;
}

// show colored overlay on hover
.blackjack-sdc-site-tile--has-link:hover
.blackjack-sdc-site-tile__headline:after {
  opacity: 1;
}

// animate image on hover
.blackjack-sdc-site-tile--has-link:hover
.blackjack-sdc-site-tile__image {
  transform: $sdc-site-tile-hover-image-transform;
}

// snippet
.blackjack-sdc-site-tile__snippet {
  line-height: 1.4;
  position: relative;
  z-index: $sdc-site-tile-link-zindex + 1;
  color: inherit;
}

// related
.blackjack-sdc-site-tile__related {
  color: $sdc-site-tile-related-color;
  fill: $sdc-site-tile-related-color;
  margin: 1.25em 0 0;
  padding: 0.16em 0;
  position: relative;
  z-index: $sdc-site-tile-link-zindex + 2;
}

.blackjack-sdc-site-tile__related-link {
  display: inline;
  line-height: 1.2
}

// badges
.blackjack-sdc-site-tile__badge {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0,0,0,0.65) 5%,rgba(0,0,0,0) 100%);
  z-index: 2;
  pointer-events: none;
}

.blackjack-sdc-site-tile__badge >
svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 14%;
  min-width: 50px;
  max-width: 115px;
  transform: translate(35%, -30%);
  z-index: 2;
  pointer-events: none;
  fill: white;
}

@media #{$sdc-site-tiles-bp-tablet}{
  .blackjack-sdc-site-tile__body {
    padding: 18px $sdc-site-tile-indent-m + 1;
  }
}

@media #{$sdc-site-tiles-bp-mobile}{

  .blackjack-sdc-site-tile__body {
    padding: 18px $sdc-site-tile-indent-s;
  }

}
