/* SKIN */
/* Default styling paramters for this component that can be overwritten at project level */
/* ========= */

$sdc-site-component-header-short-text-bp: "all and (max-width: 480px)"!default;
$sdc-site-component-header-h1-align: auto!default;
$sdc-site-component-header-h2-align: auto!default;
$sdc-site-component-header-h3-align: auto!default;
$sdc-site-component-header-h4-align: auto!default;
$sdc-site-component-header-h5-align: auto!default;
