/* SKIN */
/* Default styling paramters for this component that can be overwritten at project level */
/* ========= */

$site-header-vertical-margin-desktop: 0!default;
$site-header-vertical-margin-tablet: 0!default;
$site-header-vertical-margin-mobile: 0!default;
$blackjack-sdc-digrev-header-zindex: 99!default;