/* SKIN */
/* Default styling paramters for this component that can be overwritten at project level */
/* ========= */

// variables
$sdc-site-trending-color: inherit!default;
$sdc-site-trending-number-color: #0a1388!default;
$sdc-site-trending-bp-xs: "all and (max-width: 480px)"!default;
$sdc-site-trending-item-border: 1px solid #eee!default;