/* sdc-site-cookie-notice skin */

$sdc-site-cookie-notice-background: #fff !default;
$sdc-site-cookie-notice-icon: #3157a1 !default;
$sdc-site-cookie-notice-link: #3157a1 !default;
$sdc-site-cookie-notice-link-hover: #333 !default;
$sdc-site-cookie-notice-link-border-hover: 1px solid #000 !default;
$sdc-site-cookie-notice-shadow: 0 0 5px rgba(0, 0, 0, .3) !default;

$sdc-site-cookie-notice-width: 1024px !default;
$sdc-site-cookie-notice-padding: 15px !default;
$sdc-site-cookie-notice-font-size: .875rem !default;
$sdc-site-cookie-notice-icon-size: 1.3em !default;

$sdc-site-cookie-notice-phoneplus-min: 480px !default;
$sdc-site-cookie-notice-tabletplus-min: 800px !default;

$simplify-for-amp: false !default;
