/* SITE ERROR PAGE SKIN */
/* =================== */

// variables
$sdc-site-error-page-desktop-bp: all and (min-width: 960px)!default;
$sdc-site-error-page-mobile-bp: all and (max-width: 600px)!default;
$sdc-site-error-page-padding: 1em 0!default;

// extends

